.grid-block, .main, .post, .comments li, .comment-form { background: #fff;
border-radius: 3px;
padding: 10px;
margin-bottom: 10px;
}￼-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }
body {
background: #eee; color: #666666; }
#main {
position: relative;
}
.page {
position: absolute; top: 0px;
width: 100%;
}
.navbar {
margin-bottom: 10px; }
/* line 32, ../sass/style.scss */ .navbar .navbar-inner {
border-radius: 0px 0px 3px 3px; } #spinner {
height: 300px; }
.post {
/* For modern browsers */
/* For IE 6/7 (trigger hasLayout) */ 
zoom: 1;
position: relative;
opacity: 1; }
.post:before, .post:after {
content: "";
display: table; } .post:after {
clear: both; } .post.invisible {
opacity: 0; } .post.instant {
-webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; }
.post.animate{
-webkit-transition: all 300ms 0ms; -moz-transition: all 300ms 0ms ease-in; -o-transition: all 300ms 0ms ease-in; transition: all 300ms 0ms ease-in; }
.post .upvote { display: block;
}￼￼￼
￼￼margin: 7px 12px 0 0;
float: left; } .post .post-content {
float: left; }
.post .post-content h3 {
margin: 0;
line-height: 1.4; font-size: 18px; }
.post .post-content h3 a {
display: inline-block;
margin-right: 5px; }
.post .post-content h3 span {
font-weight: normal; font-size: 14px; display: inline-block; color: #aaaaaa; }
.post .post-content p { margin: 0; }
.post .discuss { display: block; float: right; margin-top: 7px; }
.comments { list-style-type: none; margin: 0; }
.comments li h4 {
font-size: 16px; margin: 0; }
.comments li h4 .date {
font-size: 12px;
font-weight: normal; } .comments li h4 a {
font-size: 12px; } .comments li p:last-child {
margin-bottom: 0; }
.dropdown-menu span { display: block; padding: 3px 20px; clear: both; line-height: 20px; color: #bbb; white-space: nowrap; }
.load-more {
display: block;
border-radius: 3px;
background: rgba(0, 0, 0, 0.05); text-align: center;
height: 60px;
}￼line-height: 60px; margin-bottom: 10px; } .load-more:hover {
text-decoration: none; background: rgba(0, 0, 0, 0.1); }
.posts .spinner-container{ position: relative; height: 100px;
}
.jumbotron{ text-align: center;
}
.jumbotron h2{
font-size: 60px;
font-weight: 100; }
@-webkit-keyframes fadeOut { 0% {opacity: 0;}
10% {opacity: 1;}
90% {opacity: 1;}
100% {opacity: 0;} }
@keyframes fadeOut { 0% {opacity: 0;} 10% {opacity: 1;} 90% {opacity: 1;} 100% {opacity: 0;}
}
.errors{
position: fixed; z-index: 10000; padding: 10px;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px; pointer-events: none;
}
.alert {
animation: fadeOut 2700ms ease-in 0s 1 forwards; -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards; -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
width: 250px; float: right; clear: both; margin-bottom: 5px;
pointer-events: auto; }
.push-down{
	margin-top: 25px;
}
body{
    margin: 0;
    padding: 0;
    overflow:hidden;
}

p{ 
     text-align: center; 
     overflow: overlay;
     position: relative;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(248, 248, 248)
}

#toolbox{
    position: relative;
    bottom: 0;
    left: 0;
    margin-bottom: 0.5em;
    margin-left: 1em;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
}

#toolbox input{
    width: 30px;
    opacity: 0.4;
}
#toolbox input:hover{
    opacity: 1;
    cursor: pointer;
}

#hidden-file-upload{
    display: none;
}

#download-input{
    margin: 0 0.5em;
}

.conceptG text{
    pointer-events: none;
}

/*.link text {
    pointer-events: none;
}*/

marker{
    fill: #333;
}

g.conceptG circle{
    fill: #F6FBFF;
    stroke: #333;
    stroke-width: 2px;
}

g.conceptG:hover circle{
    fill: rgb(200, 238, 241);
}

g.selected circle{
    fill: rgb(250, 232, 255);
}
g.selected:hover circle{
    fill: rgb(250, 232, 255);
}

path.link {
    fill: none;
    stroke: #333;
    stroke-width: 6px;
    cursor: default;
}

path.link:hover{
    stroke: rgb(94, 196, 204);
}

g.connect-node circle{
    fill: #BEFFFF;
}

path.link.hidden{
    stroke-width: 0;
}

path.link.selected {
    stroke: rgb(229, 172, 247);
}